body {
 margin: 0;
 padding: 0;
}

a {
  color: #00B7FF;
}

#map{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.toggleLayer{
  padding: 0;
  list-style-type: none;
  width: 200px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  font-size: 85%;
}

.toggleLayer li{
  height: 40px;
  background-color: #fff ;
  padding: 13px 10px 10px 10px;
  color: black;
  box-sizing: border-box;
  border-bottom: solid 1px gainsboro;
  text-align: center;
  line-height: 100%;
  border: solid #fff 1px;
}

.toggle:hover{
  border-color: #3887BE;
  color: #007AFF;
  cursor: move;
}

.toggle.active{
  background-color: #3887BE;
  border-color: #3887BE;
  color: white;
}

#header{
  background-color: rgba(40,53,61,1);
  color: white;
  border-color: rgba(40,53,61,1);
  border-radius: 3px 3px 0px 0px;
}

#add-layer{
  color: rgba(0,0,0,.5);
  background-color: rgba(220, 220, 220, 0.90);
  border-color: rgba(220, 220, 220, 0.90);
  /*margin-top: 5px;*/
}

#add-layer:hover{
  background-color: rgba(200, 200, 200, 0.90);
  border-color: rgba(200, 200, 200, 0.90);
  cursor: pointer;
}

.infoWindow {
  /*display: none;*/
  padding: 10px 15px;
  background: rgba(255,255,255, 0.9);
  width: 250px;
  height: 350px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
}

#usageChart {
  height: 100%;
}

.legend-title{
  font-size: 80%;
}

.line{
  fill: black;
  stroke-width: 4px;
}

.line.arrivals{
  stroke: #2c826b;
}

path.line{
  fill: none;
}

.line.departures{
  stroke: #df6342;
}

.area{
  opacity: 0.15;
}

.area.arrivals {
  fill: #2c826b;
}

.area.departures {
  fill: #df6342;
}

#tripsLegend .bikeInLegend{
  fill: #2c826b;
  stroke: #2c826b;
  stroke-width: 3;
  fill-opacity: .5;
}

#tripsLegend .bikeOutLegend{
  stroke: #df6342;
  fill: #df6342;
  stroke-width: 3;
  fill-opacity: .5;
}

#usageChart .axis{
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

#usageChart .axis text{
  font-family: 'Roboto' sans-serif;
  font-size: 11px;
}

.contextMenu {
  border-radius: 3px;
  text-align: center;
  display: none;
  position: absolute;
  width: 150px;
  background: rgb(255,255,255);
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
  z-index: 9999;
  font-family: 'Roboto' sans-serif;
  font-size: 85%;
}

.contextMenu div{
  padding: 10px 10px;
  height: 35px;
  line-height: 100%;
}

.contextMenu div:hover{
  cursor: pointer;
  background-color: gainsboro;
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 9998;
}

.chloroControl{
  padding: 0;
  list-style-type: none;
  width: 200px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  font-size: 85%;
}

.chloroControl #header{
  text-align: center;
  height: 40px;
}

.chloroControl div{
  height: 100%;
  background-color: #fff ;
  padding: 13px 10px 10px 10px;
  color: black;
  box-sizing: border-box;
  border-bottom: solid 1px gainsboro;
  line-height: 100%;
  border: solid #fff 1px;
}

.chloroControl .control-label{
  text-align: left;
}

.chloroControl .form-control{
  margin-bottom: 5px;
}

#detailMap {
  padding: 0;
  list-style-type: none;
  width: 250px;
  height: 250px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  font-size: 85%;
  border: solid black 1px;
}

#detailMap #minimap{
  border-radius: 3px;
  background-color: white;
  height: 100%;
  width: 100%;
}

#loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .6);
  z-index: 99999;
}

#loadingOverlay h1 {
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -140px;
}

#latLngViewer {
  text-align: center;
  padding: 5px 10px;
  color: white;
  line-height: 170%;
  list-style-type: none;
  width: 160px;
  height: 30px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  font-size: 70%;
  background-color: rgba(15,15,15,.6);
  float: left;
  margin-left: 3px;
}

#zoomControls {
  text-align: center;
  color: white;
  list-style-type: none;
  width: 70px;
  height: 30px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  font-size: 70%;
  background-color: rgba(15,15,15,.6);
  float: left;
  font-size: 120%;
}

#zoomControls .zoomIn{
  padding-top: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 30px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#zoomControls .zoomOut{
  padding-top: 1px;
  position: absolute;
  top: 0;
  left: 35px;
  width: 35px;
  height: 30px;
  font-size: 140%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px
}

#zoomControls .zoomIn:hover{
  cursor: pointer;
  background-color: rgba(15,15,15,.3);
}

#zoomControls .zoomOut:hover{
  cursor: pointer;
  background-color: rgba(15,15,15,.3);
}

#legendControl {
  padding: 10px 10px;
  background-color: white;
  z-index: 999;
  position: absolute;
  bottom: 0;
  right: 0;
  list-style-type: none;
  width: 300px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  font-size: 85%;
}

#legendControl div {
  margin-bottom: 10px;
}

#legendControl div:last-child{
  margin-bottom: none;
}
